*{
	box-sizing: border-box;	
}
body{
	margin: 0px;
	padding: 0px;
	font: poppins;
	background-color: orange;
}
#main{
	width:100%;
	height:50vh;
	position:relative;
}
nav{
	display:flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: orange;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.2);	
}
.my{
	height: 45px;
	line-height: 45px; 
	margin: 4px 550px 4px 4px;
	padding: 0px 22px;
	display: flex;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	color: black;
}
ul {
	list-style: none;
	display: flex;
}
.menu li a{
	height: 40px;
	line-height: 43px; 
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
}
a{
	text-decoration: none;
}
.image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 40px;
}
.content{
	display: flex;
	width: 90%;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	right: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: orange;
}
.main_text{
	width:500px;
	background-color: orange;
}
.main_text h2{
	font-size: 3.5em;
	margin: 0px 0px 10px 0px;
	line-height: 60px;
}
.main_text p{
	color: white;
}
.resume-btn{
	width: 190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: orange;
	background-color: black;
	border-radius: 20px;
	box-shadow: 5px 10px 30px orange; 
}
.resume-btn:hover{
	background-color: white;
	transition: all easy0.25;
}
.menu li a:hover{
	background-color: black;
	color: white;
	box-shadow: 5px 10px 30px orange; 
}